* {
    margin: 0px;
    padding: 0px;
    box-shadow: none;
    background-color: lightcyan;
    text-decoration: none;
}

/* General  style*/
.box {
    display: flex;
    flex-direction: column;
    width: 100%;

}

/* 2/1 */
.wrap {
    margin: 3px;
    height: 606px;
    display: flex;
    flex-direction: column;
}

/* wrap 2/1  */
.box .wrap .header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .wrap .header img {
    height: 80px;

}

.box .wrap .header p {
    color: black;
    font-size: 50px;
    font-weight: 700px;
    font-family: 'Times New Roman', Times, serif;
}

.box .wrap .header p span {
    color: green;
    font-size: 70px;
    font-weight: 700px;
    font-family: 'Times New Roman', Times, serif;
}

/* wrap 2/2  */
.box .wrap .main {
    display: flex;
    justify-content: space-between;
    height: 550px;


}

/* wrap main 2/1  */
.box .wrap .main .nav {
    width: 14%;
    margin-right: 5px;
}

.box .wrap .main .nav ul li {
    width: 100%;
    height: 40px;
    text-align: center;
    margin-bottom: 3px;
    border: solid 2px green;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.box .wrap .main .nav a {
    font-size: 25px;
    font-weight: 700px;
    text-decoration: none;
    color: green;

}

.box .wrap .main .nav h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 700px;
    color: white;
    background-color: green;

}

/* wrap main 2/2   asosiy ish joy*/



.box .wrap .main .section {
    width: 85%;

}

.box .wrap .main .section h2 {

    text-align: center;
    font-size: 38px;
    font-weight: 20px;
    color: white;
    background-color: green;
}

/* start */
.container {
    margin-top: 3px;
    height: 465px;
    border: green solid 1px;
}

.container .fath:nth-child(1) {

    height: 38%;
}

.container .fath:nth-child(1) form {
    padding-top: 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container .fath:nth-child(1) form .son {
    width: 400px;
    height: 180px;
    margin: 0px;
    text-align: center;
    display: flex;
    align-items: center;

}

.container .fath:nth-child(1) form .son1 label {
    font-size: 20px;
    margin-bottom: 20px;
    color: green;
    display: inline-block;
}

.container .fath:nth-child(1) form .son1 input {
    border: green solid 1px;
    height: 23px;
    margin-bottom: 20px;
}

.container .fath:nth-child(2) {

text-align: center;
    height: 55%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.btn-table {
    font-size: 15px;
    width: 80px;
    height: 30px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 13px;
    cursor: pointer;
}

.container .fath:nth-child(2) table {
    width: 95%;
    padding: 0px;
    margin: 0px;
    border: solid green 0,1px;
    height: 80px;
    background-color: green;
    
}

/* end */


.btn {
    font-size: 20px;
    align-items: center;
    width: 130px;
    height: 40px;
    color: white;
    background-color: green;
    margin: 0px;
    padding: 0px;
    border: none;
    border-radius: 13px;
    margin-top: 60px;
    cursor: pointer;
}

/* 2/2 */
.footer {
    height: 23px;
    display: flex;
    justify-content: center;
    color: white;
    background-color: green;
}

.footer h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 20px;
    color: white;
    background-color: green;
}