* {
    margin: 0px;
    padding: 0px;
    box-shadow: none;
    background-color: lightcyan;
    text-decoration: none;
}

/* General  style*/
.box {
    display: flex;
    flex-direction: column;
    width: 100%;

}

/* 2/1 */
.wrap {
    margin: 3px;
    height: 606px;
    display: flex;
    flex-direction: column;
}

/* wrap 2/1  */
.box .wrap .header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .wrap .header img {
    height: 80px;

}

.box .wrap .header p {
    color: black;
    font-size: 50px;
    font-weight: 700px;
    font-family: 'Times New Roman', Times, serif;
}

.box .wrap .header p span {
    color: green;
    font-size: 70px;
    font-weight: 700px;
    font-family: 'Times New Roman', Times, serif;
}

/* wrap 2/2  */
.box .wrap .main {
    display: flex;
    justify-content: space-between;
    height: 550px;


}

/* wrap main 2/1  */
.box .wrap .main .nav {
    width: 14%;
    margin-right: 5px;
}

.box .wrap .main .nav ul li {
    width: 100%;
    height: 40px;
    text-align: center;
    margin-bottom: 3px;
    border: solid 2px green;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.box .wrap .main .nav a {
    font-size: 25px;
    font-weight: 700px;
    text-decoration: none;
    color: green;

}

.box .wrap .main .nav h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 700px;
    color: white;
    background-color: green;

}

/* wrap main 2/2   asosiy ish joy*/



.box .wrap .main .section {
    width: 85%;

}

.box .wrap .main .section h2 {

    text-align: center;
    font-size: 38px;
    font-weight: 20px;
    color: white;
    background-color: green;
}

/* start */
.container {
    margin-top: 3px;
    height: 465px;
    border: green solid 1px;
    color: green;
    display: flex;
    flex-direction: column;
}

.container .fath .son {
    display: flex;
    justify-content: space-around;
    height: 100px;
    font-size: 20px;
    font-weight: 500;
}

.container .fath .son .bosson {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.container .fath .son .bosson label {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 25px;
}

.container .fath .son .bosson select {
    margin-bottom: 15px;
    font-size: 20px;
}

.container .fath .son .bosson button {
    margin-top: 17px;
}

.fath:nth-child(2) p{
    background: rgb(247, 204, 226);
    font-size: 30px;
    font-weight: 700;
    padding-left: 60px;
    color: green;
    display: block;

}
.container .fath .son .byson{
    display: flex;
}
.container .fath .son .byson .leftson{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 50px;
}
.container .fath .son .byson .leftson:nth-child(even){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.container .fath .son:nth-child(2){
    margin-top: 100px;
}

/* end */


.btn {
    font-size: 20px;
    align-items: center;
    width: 100px;
    height: 40px;
    color: white;
    background-color: green;
    margin: 0px;
    padding: 0px;
    border: none;
    border-radius: 3px;
}

/* 2/2 */
.footer {
    height: 23px;
    display: flex;
    justify-content: center;
    color: white;
    background-color: green;
}

.footer h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 20px;
    color: white;
    background-color: green;
}
